/* player */
.player {
  display: flex;
  align-items: center;
  margin: 15px 5px;
}

.player:hover {
  color: black;
}

@keyframes statusBarAnimation {
  from {
    width: var(--default-length);
  }
  to {
    height: 100%;
  }
}

@keyframes imgAnimation {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
    visibility: visible;
  }
}

.status-bar {
  display: flex;
  align-items: center;
  animation: statusBarAnimation 2s ease-in-out;
}

.player img {
  visibility: hidden;
  animation: imgAnimation 1s ease-in-out 2s forwards;
}

#ㅎ정 {
  width: calc(var(--default-length) + calc((var(--player-1) * var(--length))));
  height: 30px;
  background-color: lightpink;
}

#PMH {
  width: calc(var(--default-length) + calc((var(--player-2) * var(--length))));
  height: 30px;
  background-color: darkturquoise;
}

#홍ㅇ주 {
  width: calc(var(--default-length) + calc((var(--player-3) * var(--length))));
  height: 30px;
  background-color: lightgreen;
}

#윤ㅅ영 {
  width: calc(var(--default-length) + calc((var(--player-4) * var(--length))));
  height: 30px;
  background-color: orchid;
}

#ㄷ올 {
  width: calc(var(--default-length) + calc((var(--player-5) * var(--length))));
  height: 30px;
  background-color: lightskyblue;
}

#Joyce {
  width: calc(var(--default-length) + calc((var(--player-6) * var(--length))));
  height: 30px;
  background-color: orange;
}

#김ㄱ은 {
  width: calc(var(--default-length) + calc((var(--player-7) * var(--length))));
  height: 30px;
  background-color: khaki;
}

#백ㅎ선 {
  width: calc(var(--default-length) + calc((var(--player-8) * var(--length))));
  height: 30px;
  background-color: mediumpurple;
}

#Back {
  width: calc(var(--default-length) + calc((var(--player-9) * var(--length))));
  height: 30px;
  background-color: lightgray;
}

#패냐는슈ㄹ맘 {
  width: calc(var(--default-length) + calc((var(--player-10) * var(--length))));
  height: 30px;
  background-color: lightsalmon;
}

#Poyeon {
  width: calc(var(--default-length) + calc((var(--player-11) * var(--length))));
  height: 30px;
  background-color: thistle;
}

#ㅈ영 {
  width: calc(var(--default-length) + calc((var(--player-12) * var(--length))));
  height: 30px;
  background-color: lightblue;
}

#문ㅎ민 {
  width: calc(var(--default-length) + calc((var(--player-13) * var(--length))));
  height: 30px;
  background-color: peru;
}

#구래수ㅌ챠 {
  width: calc(var(--default-length) + calc((var(--player-14) * var(--length))));
  height: 30px;
  background-color: cornflowerblue;
}

#최ㅈ예 {
  width: calc(var(--default-length) + calc((var(--player-15) * var(--length))));
  height: 30px;
  background-color: darkseagreen;
}

#더칸ㄷ라 {
  width: calc(var(--default-length) + calc((var(--player-16) * var(--length))));
  height: 30px;
  background-color: lightpink;
}

#홍ㅊ영 {
  width: calc(var(--default-length) + calc((var(--player-17) * var(--length))));
  height: 30px;
  background-color: darkturquoise;
}

#김ㅇ진 {
  width: calc(var(--default-length) + calc((var(--player-18) * var(--length))));
  height: 30px;
  background-color: lightgreen;
}

#ㅎ주 {
  width: calc(var(--default-length) + calc((var(--player-19) * var(--length))));
  height: 30px;
  background-color: orchid;
}

#조ㅇ빈 {
  width: calc(var(--default-length) + calc((var(--player-20) * var(--length))));
  height: 30px;
  background-color: lightskyblue;
}

#김ㅎ나 {
  width: calc(var(--default-length) + calc((var(--player-21) * var(--length))));
  height: 30px;
  background-color: orange;
}

#ㅅ란 {
  width: calc(var(--default-length) + calc((var(--player-22) * var(--length))));
  height: 30px;
  background-color: khaki;
}

#이ㅈ은 {
  width: calc(var(--default-length) + calc((var(--player-23) * var(--length))));
  height: 30px;
  background-color: mediumpurple;
}

#김ㅂ현 {
  width: calc(var(--default-length) + calc((var(--player-24) * var(--length))));
  height: 30px;
  background-color: lightgray;
}

#L {
  width: calc(var(--default-length) + calc((var(--player-25) * var(--length))));
  height: 30px;
  background-color: lightsalmon;
}

#Shane {
  width: calc(var(--default-length) + calc((var(--player-26) * var(--length))));
  height: 30px;
  background-color: thistle;
}

#KE {
  width: calc(var(--default-length) + calc((var(--player-27) * var(--length))));
  height: 30px;
  background-color: lightblue;
}

#미ㄴ꽃 {
  width: calc(var(--default-length) + calc((var(--player-28) * var(--length))));
  height: 30px;
  background-color: peru;
}

#ㅅ은 {
  width: calc(var(--default-length) + calc((var(--player-29) * var(--length))));
  height: 30px;
  background-color: cornflowerblue;
}

#심ㄱ원 {
  width: calc(var(--default-length) + calc((var(--player-30) * var(--length))));
  height: 30px;
  background-color: darkseagreen;
}

#ㅎ진 {
  width: calc(var(--default-length) + calc((var(--player-31) * var(--length))));
  height: 30px;
  background-color: burlywood;
}

#ㄴ개 {
  width: calc(var(--default-length) + calc((var(--player-32) * var(--length))));
  height: 30px;
  background-color: lightpink;
}

#최ㅇ정 {
  width: calc(var(--default-length) + calc((var(--player-33) * var(--length))));
  height: 30px;
  background-color: darkturquoise;
}

#ㄷ송 {
  width: calc(var(--default-length) + calc((var(--player-34) * var(--length))));
  height: 30px;
  background-color: lightgreen;
}

#송ㅎ조 {
  width: calc(var(--default-length) + calc((var(--player-35) * var(--length))));
  height: 30px;
  background-color: orchid;
}

#점점점 {
  width: calc(var(--default-length) + calc((var(--player-36) * var(--length))));
  height: 30px;
  background-color: lightskyblue;
}

#김ㅅ희 {
  width: calc(var(--default-length) + calc((var(--player-37) * var(--length))));
  height: 30px;
  background-color: orange;
}

#정ㅇ교 {
  width: calc(var(--default-length) + calc((var(--player-38) * var(--length))));
  height: 30px;
  background-color: khaki;
}

#쫑 {
  width: calc(var(--default-length) + calc((var(--player-39) * var(--length))));
  height: 30px;
  background-color: mediumpurple;
}

#예ㅅ지 {
  width: calc(var(--default-length) + calc((var(--player-40) * var(--length))));
  height: 30px;
  background-color: lightgray;
}

#강ㅅ연 {
  width: calc(var(--default-length) + calc((var(--player-41) * var(--length))));
  height: 30px;
  background-color: lightsalmon;
}

#ㄴ나 {
  width: calc(var(--default-length) + calc((var(--player-42) * var(--length))));
  height: 30px;
  background-color: thistle;
}

#점 {
  width: calc(var(--default-length) + calc((var(--player-43) * var(--length))));
  height: 30px;
  background-color: lightblue;
}

#이ㅅ연 {
  width: calc(var(--default-length) + calc((var(--player-44) * var(--length))));
  height: 30px;
  background-color: peru;
}

#김해나 {
  width: calc(var(--default-length) + calc((var(--player-45) * var(--length))));
  height: 30px;
  background-color: cornflowerblue;
}

#ㅅ연 {
  width: calc(var(--default-length) + calc((var(--player-46) * var(--length))));
  height: 30px;
  background-color: darkseagreen;
}

#김ㅎ경 {
  width: calc(var(--default-length) + calc((var(--player-47) * var(--length))));
  height: 30px;
  background-color: lightpink;
}

#최ㅈ훈 {
  width: calc(var(--default-length) + calc((var(--player-48) * var(--length))));
  height: 30px;
  background-color: darkturquoise;
}

#ㄱ정 {
  width: calc(var(--default-length) + calc((var(--player-49) * var(--length))));
  height: 30px;
  background-color: lightgreen;
}

#한ㄷ미 {
  width: calc(var(--default-length) + calc((var(--player-50) * var(--length))));
  height: 30px;
  background-color: orchid;
}

#백ㅈ민 {
  width: calc(var(--default-length) + calc((var(--player-51) * var(--length))));
  height: 30px;
  background-color: lightskyblue;
}

#dana {
  width: calc(var(--default-length) + calc((var(--player-52) * var(--length))));
  height: 30px;
  background-color: orange;
}

#danb {
  width: calc(var(--default-length) + calc((var(--player-53) * var(--length))));
  height: 30px;
  background-color: khaki;
}

#정ㅅ영 {
  width: calc(var(--default-length) + calc((var(--player-54) * var(--length))));
  height: 30px;
  background-color: mediumpurple;
}

#Ines {
  width: calc(var(--default-length) + calc((var(--player-55) * var(--length))));
  height: 30px;
  background-color: lightgray;
}

#김ㄷ은 {
  width: calc(var(--default-length) + calc((var(--player-56) * var(--length))));
  height: 30px;
  background-color: lightsalmon;
}

#정ㄷ진 {
  width: calc(var(--default-length) + calc((var(--player-57) * var(--length))));
  height: 30px;
  background-color: thistle;
}

#김ㅁ선 {
  width: calc(var(--default-length) + calc((var(--player-58) * var(--length))));
  height: 30px;
  background-color: lightblue;
}

#Hyejung {
  width: calc(var(--default-length) + calc((var(--player-59) * var(--length))));
  height: 30px;
  background-color: peru;
}

#내이름은ㅎ써 {
  width: calc(var(--default-length) + calc((var(--player-60) * var(--length))));
  height: 30px;
  background-color: cornflowerblue;
}

#블링ㅇ채 {
  width: calc(var(--default-length) + calc((var(--player-61) * var(--length))));
  height: 30px;
  background-color: darkseagreen;
}

#이ㅈ인 {
  width: calc(var(--default-length) + calc((var(--player-62) * var(--length))));
  height: 30px;
  background-color: lightpink;
}

#주영 {
  width: calc(var(--default-length) + calc((var(--player-63) * var(--length))));
  height: 30px;
  background-color: darkturquoise;
}

#박ㅎ연 {
  width: calc(var(--default-length) + calc((var(--player-64) * var(--length))));
  height: 30px;
  background-color: lightgreen;
}

#오늘도고맙습ㄴ다 {
  width: calc(var(--default-length) + calc((var(--player-65) * var(--length))));
  height: 30px;
  background-color: orchid;
}

#보ㅂ스 {
  width: calc(var(--default-length) + calc((var(--player-66) * var(--length))));
  height: 30px;
  background-color: lightskyblue;
}

#채ㅊ원 {
  width: calc(var(--default-length) + calc((var(--player-67) * var(--length))));
  height: 30px;
  background-color: orange;
}

.status-bar span {
  font-size: 20px;
  padding: 5px;
}

.avatar-pic {
  width: 50px;
  position: relative;
  left: -14px;
  top: 2px;
}

.crown {
  width: 20px;
  position: relative;
  left: -53px;
  top: -45px;
}
