@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

body {
  font-family: "Poor Story", cursive;
  margin: 20px;
}

.top {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 10;
}

.top h1 {
  font-size: 40px;
}

.top span {
  font-size: 20px;
  margin-bottom: 5px;
}

.banner button {
  margin: 15px 5px;
}

.player {
  display: flex;
  align-items: center;
  margin: 15px 5px;
}

.player:hover {
  color: white;
}

@keyframes statusBarAnimation {
  from {
    width: 120px;
  }
  to {
    height: 100%;
  }
}

@keyframes imgAnimation {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
    visibility: visible;
  }
}

.status-bar {
  display: flex;
  align-items: center;
  animation: statusBarAnimation 2s ease-in-out;
}

body img {
  visibility: hidden;
  animation: imgAnimation 1s ease-in-out 2s forwards;
}

#심혜준 {
  width: 620px;
  height: 30px;
  background-color: lightpink;
}

#손하연 {
  width: 370px;
  height: 30px;
  background-color: darkturquoise;
}

#홍수민 {
  width: 470px;
  height: 30px;
  background-color: lightgreen;
}

#허나원 {
  width: 270px;
  height: 30px;
  background-color: orchid;
}

#문호정 {
  width: 670px;
  height: 30px;
  background-color: lightskyblue;
}

.status-bar span {
  font-size: 20px;
  padding: 5px;
}

.avatar-pic {
  width: 30px;
  position: relative;
  left: -14px;
  top: 2px;
}

.crown {
  width: 16px;
  position: relative;
  left: -36px;
  top: -26px;
  transform: rotateZ(11deg);
}
