@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

@import "variables.css";
@import "top.css";
@import "players.css";
@import "plastic.css";

/* setting */
a {
  color: white;
}

body {
  background-color: midnightblue;
  color: white;
  font-family: "Poor Story", cursive;
  margin: 20px;
}

.hidden {
  display: none;
}
