/*variables*/
:root {
  --default-length: 150px;
  --length: 80px;
  --player-1: 8;
  --player-2: 11;
  --player-3: 9;
  --player-4: 31;
  --player-5: 9;
  --player-6: 5;
  --player-7: 1;
  --player-8: 15;
  --player-9: 2;
  --player-10: 29;
  --player-11: 17;
  --player-12: 1;
  --player-13: 8;
  --player-14: 13;
  --player-15: 14;
  --player-16: 9;
  --player-17: 3;
  --player-18: 9;
  --player-19: 9;
  --player-20: 4;
  --player-21: 9;
  --player-22: 10;
  --player-23: 10;
  --player-24: 1;
  --player-25: 2;
  --player-26: 2;
  --player-27: 3;
  --player-28: 1;
  --player-29: 17;
  --player-30: 9;
  --player-31: 1;
  --player-32: 26;
  --player-33: 7;
  --player-34: 17;
  --player-35: 21;
  --player-36: 9;
  --player-37: 6;
  --player-38: 13;
  --player-39: 3;
  --player-40: 12;
  --player-41: 1;
  --player-42: 9;
  --player-43: 9;
  --player-44: 2;
  --player-45: 1;
  --player-46: 1;
  --player-47: 31;
  --player-48: 10;
  --player-49: 24;
  --player-50: 5;
  --player-51: 10;
  --player-52: 10;
  --player-53: 7;
  --player-54: 7;
  --player-55: 32;
  --player-56: 13;
  --player-57: 9;
  --player-58: 1;
  --player-59: 12;
  --player-60: 2;
  --player-61: 8;
  --player-62: 5;
  --player-63: 10;
  --player-64: 10;
  --player-65: 9;
  --player-66: 5;
  --player-67: 4;
  --player-68: 15;
  --player-69: 3;
  --player-70: 10;
  --player-71: 5;
  --player-72: 4;
  --player-73: 3;
  --player-74: 9;
}
