/*variables*/
:root {
  --default-length: 150px;
  --length: 80px;
  --player-1: 8;
  --player-2: 8;
  --player-3: 9;
  --player-4: 22;
  --player-5: 4;
  --player-6: 5;
  --player-7: 1;
  --player-8: 8;
  --player-9: 2;
  --player-10: 21;
  --player-11: 13;
  --player-12: 1;
  --player-13: 8;
  --player-14: 11;
  --player-15: 9;
  --player-16: 7;
  --player-17: 3;
  --player-18: 8;
  --player-19: 7;
  --player-20: 4;
  --player-21: 9;
  --player-22: 6;
  --player-23: 7;
  --player-24: 1;
  --player-25: 2;
  --player-26: 2;
  --player-27: 3;
  --player-28: 1;
  --player-29: 17;
  --player-30: 6;
  --player-31: 1;
  --player-32: 22;
  --player-33: 5;
  --player-34: 13;
  --player-35: 18;
  --player-36: 7;
  --player-37: 6;
  --player-38: 9;
  --player-39: 3;
  --player-40: 12;
  --player-41: 1;
  --player-42: 6;
  --player-43: 9;
  --player-44: 2;
  --player-45: 1;
  --player-46: 1;
  --player-47: 19;
  --player-48: 10;
  --player-49: 16;
  --player-50: 3;
  --player-51: 10;
  --player-52: 8;
  --player-53: 6;
  --player-54: 5;
  --player-55: 18;
  --player-56: 13;
  --player-57: 4;
  --player-58: 1;
  --player-59: 8;
  --player-60: 2;
  --player-61: 3;
  --player-62: 5;
  --player-63: 4;
  --player-64: 7;
  --player-65: 6;
  --player-66: 2;
  --player-67: 4;
}
